@model SchoolManagementMVC.SchoolManagement.Web.Models.StudentViewModel

@{
    ViewData["Title"] = "Delete Student";
}

<h1>@ViewData["Title"]</h1>

<div class="alert alert-warning">
    <h4>Are you sure you want to delete this student?</h4>
    <p>
        Name: @Model.FirstName @Model.LastName <br />
        Email: @Model.Email <br />
        Date of Birth: @Model.DateOfBirth.ToShortDateString()
    </p>
</div>

<form asp-action="DeleteConfirmed" method="post">
    <button type="submit" class="btn btn-danger">Delete</button>
</form>

<a href="@Url.Action("Index")" class="btn btn-secondary">Cancel</a>
