@* @model IEnumerable<SchoolManagementMVC.SchoolManagement.Web.Models.Student> *@
@model IEnumerable<SchoolManagement.Core.Entities.Student>


@{
    ViewData["Title"] = "Students List";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Create New Student</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.LastName)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.BirthDate)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>@student.Email</td>
                <td>@student.BirthDate.ToShortDateString()</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = student.StudentID })" class="btn btn-warning">Edit</a>
                    <a href="@Url.Action("Delete", new { id = student.StudentID })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
